@media (max-width:768px) {
    nav .nav-list {
        display: none;
    }

    .nav-icon {
        display: block;
        font-size: 35px;
    }
    header{
        position:unset;
    }
    .nav-blog{
        position: fixed;
        display: block ;
        width: 42%;
        height:90vh ;
        right: 0;
        display: flex;
        justify-content: end;
        background-color: #0a1929 !important; 
        z-index:10 ;
        transform: translateX(101%);
        transition: 0.5s all linear;
    }
    .nav-blog.active{
        transition: 0.5s all linear;

        transform: translateX(0%);
    }
    .nav-blog ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 20px;
    }
    .nav-blog ul li a{
        margin: 10px 0;
    }
    .nav-blog ul li a:hover{
        color: goldenrod;
    }
}